#section0 {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/img/pageone.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

#slide1 {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/img/slideone.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#slide2 {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/img/slidetwo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#slide3 {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/img/slidethree.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#section2 {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/img/premium.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#section3 {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/img/cash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.section {
	text-align: center;
}

.navbar .collapse .navbar-nav .nav .active {
	background-color: #ffffff;
	-webkit-box-shadow: inset 0 0 10px #cccccc;
	box-shadow: inset 0 0 10px #cccccc;
}

#logo {
	font-size: 1.5em;
}

.navbar-nav .nav-item .nav-link {
	padding-left: 8px;
	padding-right: 8px;
}

.jumbotron {
	border: 5px solid #cccccc;
}

.logobig {
	max-width: 300px;
	height: auto;
	margin: 0;
	opacity: 0.8;
}

#eyecatcher {
	font-size: 10em;
}

.zoomInOnHover {
	transition: transform .3s;
}

.zoomInOnHover:hover {
	transform: scale(1.2);
}

.whiteText {
	color: white;
	text-shadow: black 0px 0px 10px;
}

p {
	font-family: 'PT Sans', Georgia, Cambria, "Times New Roman", Times, sans-serif;
}
input {
	font-family: monospace;
}
label {
	display: block;
}
form > div {
	margin: 0 0 1rem 0;
}
